<html>
    <head>
        <title>My Project</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <h1>My Project</h1>
            <p>Hi. I'm a <strong>boilerplate</strong>. Use me to make something awesome, <em>faster</em>.</p>
        </div>
    </body>
</html>
